.App {
  text-align: center;
  background-color: black;
  color: whitesmoke;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding-top: 0.25rem;
}

.search-bar {
  border-radius: 1rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
  height: 1.25rem;
}

.submit-btn {
  background-color: lightblue;
  box-shadow: 0 0 0.5rem whitesmoke;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: darkslategray;
  width: 90vw;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}