.App {
  text-align: center;
  background-color: black;
  color: whitesmoke;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding-top: 0.25rem;
}

.search-bar {
  border-radius: 1rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
  height: 1.25rem;
  padding: 0.325rem;
}

.submit-btn {
  background-color: lightblue;
  box-shadow: 0 0 0.5rem whitesmoke;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: darkslategray;
  width: 90vw;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  height: fit-content;
  display: grid; 
  grid-template-columns: 1.1fr 0.9fr 0.2fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-areas: 
    "Title Title remove"
    "Image info info"
    "Image info info"
    "Image info info"
    "Image info info"
    "Image info info"; 
}



 
.card-title {
  border: 1px solid red;
  grid-area: Title;
}

.card-img {
  max-width: 90%;
  grid-area: Image;
}

.card-remove-btn {
  border: 1px solid red;
  grid-area: remove;
}

.card-info {
  border: 1px solid red;
  grid-column: span 2;
}


