.App {
  text-align: center;
  background-color: black;
  color: whitesmoke;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding-top: 0.25rem;
}

.search-bar {
  border-radius: 1rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
  height: 1.25rem;
  padding: 0.325rem;
}

.submit-btn {
  background-color: lightblue;
  box-shadow: 0 0 0.5rem whitesmoke;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: darkslategray;
  width: 80vw;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  height: fit-content;
  display: grid; 
  grid-template-columns: 1.1fr 0.9fr 0.2fr; 
  grid-template-rows: repeat(6, 1fr); 
  grid-template-areas: 
    "Title Title remove"
    "Image info info"
    "Image info info"
    "Image info info"
    "Image info info"
    "Image info info"; 
}



 
.card-title {
  grid-area: Title;
  margin-left: 10%;
}

.card-img {
  max-width: 90%;
  grid-area: Image;
  place-self: center;
  margin-bottom: 1rem;
  border-radius: 5%;
}

.card-remove-btn {
  color: whitesmoke;
  grid-area: remove;
  place-self: start;
  border: none;
  background-color: darkslategray;
  position: relative;
  top: 0.3vh;
  left: 4vw;
}

.card-remove-btn:hover {
  cursor: pointer;
}

.card-info {
  grid-column: span 2;
  height: 20%;
}

@media screen and (max-width: 800px) {
    .card {
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .card-remove-btn {
      position: absolute;
      top: 0.5vh;
      left: 74vw;
      width: 1vw;
    }
    .card-title {
      position: relative;
      right: 2vw;
    }
}
